# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
ENV/
env/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# uv/poetry/lock
uv.lock
poetry.lock

# 기타
*.log
*.sqlite3
.github/
